<%= form_with(model: arrival, local: true) do |form| %>
  <% if arrival.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arrival.errors.count, "error") %> prohibited this arrival from being saved:</h2>

      <ul>
      <% arrival.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :guest_id %>
    <%= form.text_field :guest_id %>
  </div>

  <div class="field">
    <%= form.label :unit_id %>
    <%= form.text_field :unit_id %>
  </div>

  <div class="field">
    <%= form.label :checkin %>
    <%= form.date_select :checkin %>
  </div>

  <div class="field">
    <%= form.label :checkout %>
    <%= form.date_select :checkout %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.text_field :status_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
