<p id="notice"><%= notice %></p>

<h1>Arrivals</h1>

<table>
  <thead>
    <tr>
      <th>Guest</th>
      <th>Unit</th>
      <th>Checkin</th>
      <th>Checkout</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= arrival.guest %></td>
        <td><%= arrival.unit %></td>
        <td><%= arrival.checkin %></td>
        <td><%= arrival.checkout %></td>
        <td><%= arrival.status %></td>
        <td><%= link_to 'Show', arrival %></td>
        <td><%= link_to 'Edit', edit_arrival_path(arrival) %></td>
        <td><%= link_to 'Destroy', arrival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arrival', new_arrival_path %>
