<p id="notice"><%= notice %></p>

<p>
  <strong>Guest:</strong>
  <%= @arrival.guest %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @arrival.unit %>
</p>

<p>
  <strong>Checkin:</strong>
  <%= @arrival.checkin %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @arrival.checkout %>
</p>

<p>
  <strong>Status:</strong>
  <%= @arrival.status %>
</p>

<%= link_to 'Edit', edit_arrival_path(@arrival) %> |
<%= link_to 'Back', arrivals_path %>
